* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-input input[type="text"] {
    width: 75%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.task-input button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.task-input button:hover {
    background-color: #45a049;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #4CAF50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task-list li span{
    color: black
}

.task-list li.completed {
    text-decoration: line-through;
    color: #888;
    border-left-color: #888;
}

.task-list li button {
    background-color: #ff4f4f;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.task-list li button:hover {
    background-color: #ff2f2f;
}

.filter-buttons {
    text-align: center;
    margin-top: 20px;
}

.filter-buttons button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filter-buttons button.active {
    background-color: #2e7d32;
}

.filter-buttons button:hover {
    background-color: #45a049;
}